* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(imagens/background-image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 100%;
}

.header-1 {
    color: white;
    text-align: center;
    text-shadow: 0 0 10px black;
    padding: 40px;
}

.sec-geral {
    padding: 75px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.foto-perfil {
    border: 1px solid black;
    border-radius: 50%;
    width: 75%;
    margin: 10px;
}

.sec-1 {
    background: url(imagens/background-image1.jpg);
    border: 1px solid rgb(45, 188, 188);
    border-radius: 15px;
    color: white;
    text-shadow: 0 0 10px black;
    padding: 25px;
    height: 250px;
    width: 200px;
    margin: 1%;
    font-size: 10px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer-1 {
    color: rgb(222, 212, 212);
    text-align: center;
    text-shadow: 0 0 15px black;
    font-size: 15px;
    padding: 40px;
}

.foto-perfil:hover {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    border: none;
    width: 100%;
}